{%extends "base.html"%} {%block title%}Home - Chatbot{%endblock%} {%block
HTML_HEAD%}
{%endblock%} {%block HTML_BODY%}
<div id="chatcontainer" class="container-sm overflow-auto vh-80" style="max-height: 80vh">
  <div class="row">
    <div class="col-md-8 text-start">
      <div class="card border-0 bg-light rounded position-relative mb-5 mt-5 d-inline-block">
        <div class="card-body p-3">
          <p class="ps-0 pt-4" style="min-width: 300px; max-width: 860px">
            Greetings, my dear friend! Are you ready for a wild and hilarious
            adventure?
          </p>
        </div>
        <div class="author-date position-absolute top-0 start-0 p-3">
          <span class="author me-2">
            James the Wise</span>
          <span id="initialdate_" class="date"></span>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container">
  <div class="col"></div>
  <div class="row fixed-bottom justify-content-center mb-2">
    <div class="col-md-5">
      <textarea id="chattextarea" class="form-control" rows="2"></textarea>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{%endblock%}